<p float:left >HowLongToBeat</p>
<p class="right">Social</p>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right{
    float:right;
}

</style>
</head>
<body>


<ul>
  <li float:left><a href="#contactus">Contact Us</a></li>
  <li float:left><a href="#codeofconduct">Code of Conduct</a></li>
  <li float:left><a href="#privacypolicy">Privacy Policy</a></li>
  <li class="right"><a href="#discord">Discord</a></li>
  <li class="right"><a href="#facebook">Facebook</a></li>
  <li class="right"><a href="#twitter"><p>Twitter</p></a></li>

</ul>

</body>
</html>
