<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFF;
}

li {
  float: left;
}

.right{
    float: right;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



li a:hover {
  background-color: #111;
  color: white;
}



</style>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search Your Favorite Games..." aria-label="Search Your Favortie Games...">
          </form>
        </div>
      </nav>
    <img src="assets/tdnd53zT_400x400.png" width="60" height="60" display=inline-block;margin-left:10px;>
<ul>
  <li><a class="active" href="#forum">Forum</a></li> 
  <li><a href="#stats">Stats</a></li>
  <li><a href="#submit">Submit</a></li>
  <li class ="right"><a href="#login"> Login</a></li>
  <li class="right"><a href="#join">Join</a></li>

</ul>

</body>
</html>
